:host {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.select {
  align-self: flex-end;
}

.card-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
