<mat-form-field class="select" appearance="outline">
  <mat-select
    [ngModel]="selectedSortTerm$ | async"
    (ngModelChange)="onSelectedSortTermChange($event)"
  >
    <mat-option *ngFor="let sortTerm of sortTerms" [value]="sortTerm.value">
      {{ sortTerm.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<section class="card-wrapper" *ngIf="selectedSortTerm$ | async as selectedSortTerm">
  <app-group-card *ngFor="let group of groups" [group]="group" [sortTerm]="selectedSortTerm" />
</section>
