<main *ngIf="ocean$ | async as ocean">
  <section class="ocean-img-wrapper">
    <img class="ocean-img" src="{{ ocean.imageUrl }}" />
  </section>

  <div class="remainer"></div>

  <section class="wrapper">
    <div class="wrapper__content">
      <article class="info-wrapper">
        <h1 class="info-wrapper__title">{{ ocean.name }} {{ ocean.id }}</h1>
        <span class="info-wrapper__addr">{{ ocean.address }}</span>

        <div class="info-wrapper__row">
          <p class="info-wrapper__row__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, repellendus iusto a ipsum
            non repudiandae. Mollitia ab eveniet, animi, voluptatibus, impedit modi sed ex minus quo
            sunt fugit eos vero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure,
            repellendus iusto a ipsum non repudiandae. Mollitia ab eveniet, animi, voluptatibus,
            impedit modi sed ex minus quo sunt fugit eos vero?
          </p>

          <div>
            <google-map
              [options]="{ center: { lat: ocean.latitude, lng: ocean.longitude }, zoom: 14 }"
            ></google-map>
          </div>
        </div>
      </article>

      <article class="bakku-wrapper">
        <h2 class="bakku-wrapper__title">이 바다를 가꾼 바꾸들</h2>

        <app-bakku-card
          [bakku]="{
            id: 1,
            ocean: '을왕리 해수욕장',
            name: '성공회대 GDSC',
            titleImage:
              'https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
            date: '22. 02. 27.',
            cleanWeight: 10
          }"
        />
        <app-bakku-card
          [bakku]="{
            id: 1,
            ocean: '을왕리 해수욕장',
            name: '성공회대 GDSC',
            titleImage:
              'https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
            date: '22. 02. 27.',
            cleanWeight: 10
          }"
        />
        <app-bakku-card
          [bakku]="{
            id: 1,
            ocean: '을왕리 해수욕장',
            name: '성공회대 GDSC',
            titleImage:
              'https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
            date: '22. 02. 27.',
            cleanWeight: 10
          }"
        />
        <app-bakku-card
          [bakku]="{
            id: 1,
            ocean: '을왕리 해수욕장',
            name: '성공회대 GDSC',
            titleImage:
              'https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
            date: '22. 02. 27.',
            cleanWeight: 10
          }"
        />
        <app-bakku-card
          [bakku]="{
            id: 1,
            ocean: '을왕리 해수욕장',
            name: '성공회대 GDSC',
            titleImage:
              'https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
            date: '22. 02. 27.',
            cleanWeight: 10
          }"
        />
      </article>
    </div>
  </section>
</main>
