<main>
  <section class="event">
    <app-carousel-wrapper *ngIf="events.length" class="event__wrapper">
      <app-carousel-item
        *ngFor="let event of events"
        (click)="onEventClick(event.id)"
        class="event__item"
      >
        <h3 class="event__item__title">{{ event.name }}</h3>
      </app-carousel-item>
    </app-carousel-wrapper>
    <app-carousel-indicator />
  </section>

  <section class="ocean">
    <h2 class="ocean__title">가까운 바다를 찾아보세요.</h2>

    <div class="ocean__card-wrapper">
      <app-ocean-card
        *ngFor="let ocean of oceans"
        [ocean]="{
          id: ocean.id,
          name: ocean.name,
          address: ocean.address,
          imageUrl: ocean.imageUrl
        }"
      />
    </div>
  </section>

  <section class="bakku">
    <h2 class="bakku__title">어떤 바꾸들이 있었을까요?</h2>

    <div class="bakku__card-wrapper">
      <app-bakku-card *ngFor="let bakku of bakkus" [bakku]="bakku" />
    </div>
  </section>
</main>
