<main>
  <section *ngIf="auth.user | async as user" class="user">
    <button class="user__logout-btn" mat-flat-button color="primary" (click)="logout()">
      로그아웃
    </button>

    <div class="user__img-wrapper">
      <img src="{{ user.photoURL }}" />
    </div>
    <h1 class="user__heading">반가워요. {{ user.displayName }}님</h1>
    <span>{{ user.email }}</span>
  </section>

  <section class="bakkus">
    <h2 class="bakkus__heading">내 기록들</h2>

    <div *ngIf="!isEmpty" class="bakkus__wrapper">
      <app-bakku-card *ngFor="let bakku of bakkus" [bakku]="bakku" />

      <button
        class="bakkus__wrapper__more-button"
        *ngIf="!isLast"
        mat-flat-button
        color="primary"
        (click)="getMoreBakkusByUid()"
      >
        더 보기
      </button>
    </div>

    <div *ngIf="isEmpty" class="bakkus--empty">
      <span>올린 바꾸가 없어요</span>
      <a
        mat-raised-button
        color="primary"
        routerLink="/bakku/append"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        바꾸 올리러 가기
      </a>
    </div>
  </section>
</main>
