<main *ngIf="event$ | async as event">
  <section class="ocean-img-wrapper">
    <img class="ocean-img" src="{{ event.imageUrl }}" alt="{{ event.name }}" />
  </section>

  <div class="remainer"></div>

  <section class="wrapper">
    <div class="wrapper__content">
      <article class="info">
        <h1 class="info__heading">{{ event.name }}</h1>
        <span class="info__date">{{ event.startDate | date }} ~ {{ event.endDate | date }}</span>
        <p class="info__description">
          {{ event.comment }}
        </p>

        <google-map
          width="100%"
          height="400px"
          class="info__map-wrapper__map"
          [options]="{ center: { lat: event.latitude, lng: event.longitude }, zoom: 14 }"
        ></google-map>
      </article>
    </div>
  </section>
</main>
