<main *ngIf="event$ | async as event">
  <section class="ocean-img-wrapper">
    <img
      class="ocean-img"
      src="https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </section>

  <div class="remainer"></div>

  <section class="wrapper">
    <article class="wrapper__content">
      <h1>{{ event.name }}</h1>
      <span>{{ event.startDate | date }} ~ {{ event.endDate | date }}</span>
      <p>
        {{ event.comment }}
      </p>
      <div>
        <google-map
          [options]="{ center: { lat: event.latitude, lng: event.longitude }, zoom: 14 }"
        ></google-map>
      </div>
    </article>
  </section>
</main>
