<mat-form-field class="select" appearance="outline">
  <mat-select [ngModel]="selectedOcean$ | async" (ngModelChange)="onSelectOceanChange($event)">
    <mat-option *ngFor="let ocean of oceans" [value]="ocean.id">
      {{ ocean.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<section class="card-wrapper" *ngIf="!isEmpty">
  <app-bakku-card
    *ngFor="let bakku of bakkus"
    [bakku]="{
      id: bakku.id,
      ocean: bakku.oceanName,
      name: bakku.groupName,
      titleImage: bakku.titleImageUrl,
      date: bakku.decorateTime,
      cleanWeight: bakku.cleanWeight
    }"
  />
</section>

<section class="empty" *ngIf="isEmpty">
  <span>해당하는 바꾸가 없어요</span>
</section>
