<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row class="toolbar__row">
    <a
      mat-flat-button
      color="primary"
      routerLink="/home"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <h1 class="toolbar__row__heading">바꾸</h1>
    </a>

    <div>
      <a
        mat-icon-button
        routerLink="/ranking"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <mat-icon fontIcon="data_thresholding" aria-label="ranking"></mat-icon>
      </a>

      <a
        mat-icon-button
        routerLink="/bakku/append"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <mat-icon fontIcon="add" aria-label="post bakku" />
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="toolbar__remainer"></div>

<router-outlet></router-outlet>
