.toolbar {
  position: fixed;
  top: 0;
  left: 0;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__heading {
      line-height: 0;
    }
  }

  &__remainer {
    height: 64px;
  }
}
