.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__logo {
      padding-top: 2px;
      width: 3.125rem;
    }
  }

  &__remainer {
    height: 64px;
  }
}

.drawer {
  width: 90vw;
  background-color: red;
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
