<form [formGroup]="imageFormGroup" *ngIf="imageInput.status !== 'ok'">
  <label>
    <button class="button" type="button" (click)="imageInput.click()" mat-button>
      {{ text }}
      <mat-icon>image</mat-icon>
    </button>

    <input
      type="file"
      accept="image/*"
      [required]="required"
      hidden
      #imageInput
      [formControlName]="formName"
      (change)="processFile(imageInput)"
    />
  </label>
</form>

<div *ngIf="imageInput.status === 'ok'" class="preview-image-wrapper">
  <img src="{{ imageInput.src }}" />

  <button
    type="button"
    (click)="clearImageInput()"
    mat-mini-fab
    color="primary"
    class="preview-image-wrapper__clear-btn"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
