<main *ngIf="bakku$ | async as bakku">
  <section class="title-image-wrapper">
    <img src="{{ bakku.titleImageUrl }}" alt="{{ bakku.oceanName }} - {{ bakku.groupName }}" />

    <button mat-mini-fab color="warn" (click)="openDialog()">
      <mat-icon>gavel</mat-icon>
    </button>
  </section>

  <section class="title-wrapper">
    <h1 class="title-wrapper__title">
      <a routerLink="/ocean/1">{{ bakku.oceanName }}</a> - {{ bakku.groupName }}
    </h1>
    <span class="title-wrapper__date">{{ bakku.decorateTime }}</span>
  </section>

  <section class="info-wrapper">
    <h2 class="info-wrapper__title">이 바꾸는</h2>

    <article class="info">
      <div class="info__weight">
        <mat-icon class="info__weight__icon">delete</mat-icon>
        <span class="info__weight__text"
          ><strong>{{ bakku.cleanWeight }}kg</strong>을 치웠어요.</span
        >
      </div>

      <div class="info__description">
        <p>
          {{ bakku.comment }}
        </p>
      </div>
    </article>
  </section>

  <section class="what-happened">
    <h2 class="what-happened__title">어떤 일이 일어났을까요?</h2>

    <div class="what-happened__img-section">
      <div *ngIf="bakku.beforeImageUrl" class="what-happened__img-section__img-wrapper">
        <img
          src="{{ bakku.beforeImageUrl }}"
          alt="{{ bakku.oceanName }} - {{ bakku.groupName }} before clean"
        />
      </div>

      <div class="what-happened__img-section__img-wrapper">
        <img
          alt="{{ bakku.oceanName }} - {{ bakku.groupName }} after clean"
          src="{{ bakku.afterImageUrl }}"
        />
      </div>
    </div>
  </section>
</main>
