<main>
  <section>
    something cool
    <div *ngIf="auth.user | async as user">
      <p>{{ user.displayName }}</p>
      <p>{{ user.email }}</p>
      <p>{{ user.uid }}</p>

      <img src="{{ user.photoURL }}" />
    </div>
  </section>

  <button (click)="login()" mat-flat-button color="primary" class="login-btn google">
    <div class="login-btn__wrapper">
      <fa-icon [icon]="faGoogle" />
      <span>구글로 로그인하기 </span>
    </div>
  </button>

  <button (click)="logout()">로그아웃</button>
</main>
