<main>
  <form [formGroup]="bakkuForm" class="bakku-form" (ngSubmit)="onSubmit()">
    <div class="image-input-wrapper title-image-wrapper">
      <label *ngIf="titleImage.status !== 'ok'">
        <button
          class="image-input-wrapper__button"
          type="button"
          (click)="titleImageInput.click()"
          mat-button
        >
          대표 사진 올리기*
          <mat-icon>image</mat-icon>
        </button>

        <input
          type="file"
          accept="image/*"
          required
          hidden
          #titleImageInput
          formControlName="titleImage"
          (change)="processFile(titleImageInput, titleImage)"
        />
      </label>

      <div *ngIf="titleImage.status === 'ok'" class="preview-image-wrapper">
        <img src="{{ titleImage.src }}" />

        <button
          type="button"
          (click)="clearImageInput('titleImage', titleImage)"
          mat-mini-fab
          color="primary"
          class="preview-image-wrapper__clear-btn"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="image-input-wrapper before-after-image-wrapper">
        <label *ngIf="beforeImage.status !== 'ok'">
          <button
            class="image-input-wrapper__button"
            type="button"
            (click)="beforeImageInput.click()"
            mat-button
          >
            이전 사진 올리기
            <mat-icon>image</mat-icon>
          </button>

          <input
            type="file"
            accept="image/*"
            hidden
            #beforeImageInput
            formControlName="beforeImage"
            (change)="processFile(beforeImageInput, beforeImage)"
          />
        </label>

        <div *ngIf="beforeImage.status === 'ok'" class="preview-image-wrapper">
          <img src="{{ beforeImage.src }}" />

          <button
            type="button"
            (click)="clearImageInput('beforeImage', beforeImage)"
            mat-mini-fab
            color="primary"
            class="preview-image-wrapper__clear-btn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div class="image-input-wrapper before-after-image-wrapper">
        <label *ngIf="afterImage.status !== 'ok'">
          <button
            class="image-input-wrapper__button"
            type="button"
            (click)="afterImageInput.click()"
            mat-button
          >
            이후 사진 올리기*
            <mat-icon>image</mat-icon>
          </button>

          <input
            type="file"
            accept="image/*"
            hidden
            required
            #afterImageInput
            formControlName="afterImage"
            (change)="processFile(afterImageInput, afterImage)"
          />
        </label>

        <div *ngIf="afterImage.status === 'ok'" class="preview-image-wrapper">
          <img src="{{ afterImage.src }}" />

          <button
            type="button"
            (click)="clearImageInput('afterImage', afterImage)"
            mat-mini-fab
            color="primary"
            class="preview-image-wrapper__clear-btn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>이름</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="getFormControl('name')?.invalid">{{ getErrorMsg("name") }}</mat-error>
    </mat-form-field>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>해수욕장</mat-label>
        <mat-select formControlName="ocean">
          <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
          <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
          <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
          <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
          <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
        </mat-select>
        <mat-error *ngIf="getFormControl('ocean')?.invalid">{{ getErrorMsg("ocean") }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>날짜</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="02/28/2023" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="getFormControl('date')?.invalid">{{ getErrorMsg("date") }}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>청소한 양</mat-label>
      <input matInput type="number" formControlName="cleanWeight" />
      <mat-error *ngIf="getFormControl('cleanWeight')?.invalid">{{
        getErrorMsg("cleanWeight")
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>설명</mat-label>
      <textarea matInput maxlength="255" formControlName="comment"></textarea>
      <mat-hint align="end">{{ bakkuForm.value.comment?.length }} / 255</mat-hint>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      class="bakku-form__submit-btn"
      [disabled]="bakkuForm.invalid"
    >
      바꾸 기록하기
      <mat-icon>done</mat-icon>
    </button>
  </form>
</main>
