<main>
  <mat-form-field appearance="outline">
    <mat-label>이름</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>해수욕장</mat-label>
    <mat-select>
      <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
      <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
      <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
      <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
      <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>날짜</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>청소한 양</mat-label>
    <input matInput type="number" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>설명</mat-label>
    <textarea matInput maxlength="255"></textarea>
  </mat-form-field>
</main>
