@import "../../shared/mixins/typo.scss";
@import "../../shared/mixins/layout.scss";
@import "../../shared/mixins/material-like.scss";

main {
  @include layout;
  padding-top: 20px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
}

.title {
  @include heading-title;
  margin-bottom: 40px;
}

.sub-title {
  @include sub-title;
}

.bakku-form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__submit-btn {
    align-self: flex-end;
    margin-top: 20px;
    width: 200px;
  }
}

.title-image-wrapper {
  height: 300px;
  margin-bottom: 20px;
}

.before-after-image-wrapper {
  height: 300px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  width: 100%;
  gap: 0.5rem;

  & > mat-form-field {
    width: 50%;
  }
}
