<main>
  <h1 class="title">바다를 가꾼 기록을 공유해 주세요.</h1>

  <form [formGroup]="bakkuForm" class="bakku-form" (ngSubmit)="onSubmit()">
    <app-image-input-with-preview
      class="title-image-wrapper"
      [formGroup]="bakkuForm"
      formName="titleImage"
      text="대표 사진 올리기*"
      [required]="true"
    />

    <h2 class="sub-title">여러분의 노력으로 얼마나 바뀌게 되었나요?</h2>

    <div class="row">
      <app-image-input-with-preview
        class="before-after-image-wrapper"
        [formGroup]="bakkuForm"
        formName="beforeImage"
        text="바꾸 이전 사진 올리기"
        [required]="false"
      />
      <app-image-input-with-preview
        class="before-after-image-wrapper"
        [formGroup]="bakkuForm"
        formName="afterImage"
        text="바꾸 이후 사진 올리기*"
        [required]="true"
      />
    </div>

    <h2 class="sub-title">더욱 자세히 알려주세요.</h2>

    <mat-form-field appearance="outline">
      <mat-label>이름</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="getFormControl('name')?.invalid">{{ getErrorMsg("name") }}</mat-error>
    </mat-form-field>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>해수욕장</mat-label>
        <mat-select formControlName="ocean">
          <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
          <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
          <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
          <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
          <mat-option value="을왕리 해수욕장">을왕리 해수욕장</mat-option>
        </mat-select>
        <mat-error *ngIf="getFormControl('ocean')?.invalid">{{ getErrorMsg("ocean") }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>날짜</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="02/28/2023" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="getFormControl('date')?.invalid">{{ getErrorMsg("date") }}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>청소한 양 (kg)</mat-label>
      <input matInput type="number" formControlName="cleanWeight" />
      <mat-error *ngIf="getFormControl('cleanWeight')?.invalid">{{
        getErrorMsg("cleanWeight")
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>설명</mat-label>
      <textarea matInput maxlength="255" formControlName="comment"></textarea>
      <mat-hint align="end">{{ bakkuForm.value.comment?.length }} / 255</mat-hint>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      class="bakku-form__submit-btn"
      [disabled]="bakkuForm.invalid"
    >
      바꾸 기록하기
      <mat-icon>done</mat-icon>
    </button>
  </form>
</main>
