@use "@angular/material" as mat;

@import "./app/shared/mixins/theme.scss";

@include mat.core();

@include mat.all-component-themes($bakku-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  word-break: keep-all;
  word-wrap: break-word;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
}

mat-error,
mat-hint {
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0.03125rem;
}
